body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:150px;
  top:149px;
  width:27px;
  height:16px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:277px;
  top:145px;
  width:193px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:150px;
  top:239px;
  width:53px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:150px;
  top:192px;
  width:27px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:277px;
  top:188px;
  width:193px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:480px;
  top:192px;
  width:17px;
  height:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u10 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:499px;
  top:194px;
  width:123px;
  height:16px;
  color:#FF0000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:277px;
  top:235px;
  width:193px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:0px;
  top:130px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:170px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:90px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:250px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:690px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:410px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:450px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:570px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:610px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:210px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:730px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:770px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:810px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:650px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:370px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:290px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:330px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:490px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:530px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:90px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:90px;
}
#u55 {
  position:absolute;
  left:2px;
  top:37px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  height:70px;
  color:#AEAEAE;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u57 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:130px;
  top:100px;
  width:100px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u59 {
  position:absolute;
  left:1210px;
  top:100px;
  width:100px;
  height:25px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u60 {
  position:absolute;
  left:150px;
  top:613px;
  width:108px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:151px;
  top:382px;
  width:40px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:150px;
  top:429px;
  width:52px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:150px;
  top:470px;
  width:66px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:277px;
  top:470px;
  width:110px;
  height:110px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u69 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1250px;
  top:125px;
  width:10px;
  height:85px;
}
#u70_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u70_end {
  position:absolute;
  left:-5px;
  top:68px;
  width:20px;
  height:18px;
}
#u70_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:85px;
}
#u71 {
  position:absolute;
  left:1010px;
  top:210px;
  width:340px;
  height:170px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:170px;
}
#u72 {
  position:absolute;
  left:2px;
  top:77px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1035px;
  top:260px;
  width:290px;
  height:16px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1130px;
  top:330px;
  width:100px;
  height:30px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:277px;
  top:375px;
  width:193px;
  height:30px;
  text-align:left;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:277px;
  top:424px;
  width:193px;
  height:30px;
  color:#0000FF;
  text-align:left;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:277px;
  top:606px;
  width:193px;
  height:30px;
  color:#0000FF;
  text-align:left;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:450px;
  top:434px;
  width:153px;
  height:10px;
}
#u83_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:136px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:5px;
  width:153px;
  height:1px;
}
#u84 {
  position:absolute;
  left:603px;
  top:432px;
  width:78px;
  height:16px;
  color:#FF6600;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:450px;
  top:615px;
  width:153px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:136px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:153px;
  height:1px;
}
#u87 {
  position:absolute;
  left:603px;
  top:613px;
  width:78px;
  height:16px;
  color:#FF6600;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:150px;
  top:287px;
  width:27px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:276px;
  top:280px;
  width:193px;
  height:30px;
  text-align:left;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:150px;
  top:335px;
  width:53px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:276px;
  top:328px;
  width:193px;
  height:30px;
  text-align:left;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
