body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:400px;
  top:194px;
  width:400px;
  height:317px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:317px;
}
#u3 {
  position:absolute;
  left:2px;
  top:150px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:400px;
  top:194px;
  width:400px;
  height:46px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:410px;
  top:209px;
  width:300px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:440px;
  top:280px;
  width:320px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#D7D7D7;
  text-align:left;
}
#u9 {
  position:absolute;
  left:440px;
  top:330px;
  width:320px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#D7D7D7;
  text-align:left;
}
#u10 {
  position:absolute;
  left:440px;
  top:380px;
  width:320px;
  height:44px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:440px;
  top:380px;
  width:51px;
  height:44px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:44px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:47px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:520px;
  top:394px;
  width:200px;
  height:16px;
  color:#D7D7D7;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:550px;
  top:452px;
  width:100px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:400px;
  top:552px;
  width:400px;
  height:54px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:54px;
}
#u19 {
  position:absolute;
  left:2px;
  top:19px;
  width:396px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:710px;
  top:18px;
  width:132px;
  height:42px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:42px;
}
#u21 {
  position:absolute;
  left:2px;
  top:13px;
  width:128px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1048px;
  top:18px;
  width:132px;
  height:42px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:42px;
}
#u23 {
  position:absolute;
  left:2px;
  top:13px;
  width:128px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:550px;
  top:482px;
  width:100px;
  height:248px;
  overflow:hidden;
  visibility:hidden;
}
#u24_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:248px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:220px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:220px;
}
#u26 {
  position:absolute;
  left:2px;
  top:102px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:160px;
  width:100px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:190px;
  width:100px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:880px;
  top:18px;
  width:132px;
  height:42px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:42px;
}
#u42 {
  position:absolute;
  left:2px;
  top:13px;
  width:128px;
  word-wrap:break-word;
}
