body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:90px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:90px;
}
#u2 {
  position:absolute;
  left:2px;
  top:37px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  height:70px;
  color:#AEAEAE;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:130px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:170px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:90px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:370px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:410px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:450px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:690px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:730px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:770px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:330px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:530px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:570px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:490px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:610px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:650px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:210px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:250px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:290px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:130px;
  top:140px;
  width:200px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:330px;
  top:140px;
  width:180px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:510px;
  top:140px;
  width:140px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:650px;
  top:140px;
  width:140px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:790px;
  top:140px;
  width:350px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
}
#u51 {
  position:absolute;
  left:2px;
  top:12px;
  width:346px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1140px;
  top:140px;
  width:170px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:130px;
  top:180px;
  width:200px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:330px;
  top:180px;
  width:180px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u57 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:510px;
  top:180px;
  width:140px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u59 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:650px;
  top:180px;
  width:140px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:790px;
  top:180px;
  width:350px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:346px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1140px;
  top:180px;
  width:170px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0000FF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:310px;
  top:240px;
  visibility:hidden;
}
#u66_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u66_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:160px;
  width:130px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:130px;
  top:160px;
  width:510px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:506px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:200px;
  width:130px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:130px;
  top:200px;
  width:510px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:506px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:240px;
  width:130px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:130px;
  top:240px;
  width:510px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:40px;
}
#u80 {
  position:absolute;
  left:2px;
  top:12px;
  width:506px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:280px;
  width:130px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:130px;
  top:280px;
  width:510px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:40px;
}
#u84 {
  position:absolute;
  left:2px;
  top:12px;
  width:506px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:320px;
  width:130px;
  height:120px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
}
#u86 {
  position:absolute;
  left:2px;
  top:52px;
  width:126px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:130px;
  top:320px;
  width:510px;
  height:120px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:120px;
}
#u88 {
  position:absolute;
  left:2px;
  top:52px;
  width:506px;
  word-wrap:break-word;
}
#u87_ann {
  position:absolute;
  left:633px;
  top:316px;
  width:1px;
  height:1px;
}
#u89 {
  position:absolute;
  left:0px;
  top:440px;
  width:130px;
  height:110px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:110px;
}
#u90 {
  position:absolute;
  left:2px;
  top:47px;
  width:126px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:130px;
  top:440px;
  width:510px;
  height:110px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:110px;
}
#u92 {
  position:absolute;
  left:2px;
  top:47px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:0px;
  top:120px;
  width:130px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u94 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:130px;
  top:120px;
  width:510px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:40px;
}
#u96 {
  position:absolute;
  left:2px;
  top:12px;
  width:506px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:170px;
  top:450px;
  width:100px;
  height:90px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u98 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:280px;
  top:450px;
  width:100px;
  height:90px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u100 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:390px;
  top:450px;
  width:100px;
  height:90px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u102 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:500px;
  top:450px;
  width:100px;
  height:90px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u104 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:0px;
  top:550px;
  width:640px;
  height:70px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:70px;
}
#u106 {
  position:absolute;
  left:2px;
  top:27px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:270px;
  top:572px;
  width:100px;
  height:25px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u108 {
  position:absolute;
  left:600px;
  top:0px;
  width:40px;
  height:40px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u109 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:0px;
  top:80px;
  width:130px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u111 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:130px;
  top:80px;
  width:510px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:40px;
}
#u113 {
  position:absolute;
  left:2px;
  top:12px;
  width:506px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:0px;
  top:40px;
  width:130px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u115 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:130px;
  top:40px;
  width:510px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:40px;
}
#u117 {
  position:absolute;
  left:2px;
  top:12px;
  width:506px;
  word-wrap:break-word;
}
#u66_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u66_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u119 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:0px;
  top:160px;
  width:130px;
  height:80px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u121 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:130px;
  top:160px;
  width:510px;
  height:80px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:80px;
}
#u123 {
  position:absolute;
  left:2px;
  top:32px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:0px;
  top:240px;
  width:130px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u125 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:130px;
  top:240px;
  width:510px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:40px;
}
#u127 {
  position:absolute;
  left:2px;
  top:12px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:0px;
  top:280px;
  width:130px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u129 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:130px;
  top:280px;
  width:510px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:40px;
}
#u131 {
  position:absolute;
  left:2px;
  top:12px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:0px;
  top:320px;
  width:130px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u133 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:130px;
  top:320px;
  width:510px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:40px;
}
#u135 {
  position:absolute;
  left:2px;
  top:12px;
  width:506px;
  word-wrap:break-word;
}
#u134_ann {
  position:absolute;
  left:633px;
  top:316px;
  width:1px;
  height:1px;
}
#u136 {
  position:absolute;
  left:0px;
  top:360px;
  width:130px;
  height:120px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:120px;
}
#u137 {
  position:absolute;
  left:2px;
  top:52px;
  width:126px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:130px;
  top:360px;
  width:510px;
  height:120px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:120px;
}
#u139 {
  position:absolute;
  left:2px;
  top:52px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:0px;
  top:480px;
  width:130px;
  height:110px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:110px;
}
#u141 {
  position:absolute;
  left:2px;
  top:47px;
  width:126px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:130px;
  top:480px;
  width:510px;
  height:110px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:110px;
}
#u143 {
  position:absolute;
  left:2px;
  top:47px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:0px;
  top:120px;
  width:130px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u145 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:130px;
  top:120px;
  width:510px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:40px;
}
#u147 {
  position:absolute;
  left:2px;
  top:12px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:0px;
  top:590px;
  width:640px;
  height:70px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:70px;
}
#u149 {
  position:absolute;
  left:2px;
  top:27px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:197px;
  top:612px;
  width:100px;
  height:25px;
}
#u150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u151 {
  position:absolute;
  left:150px;
  top:128px;
  width:470px;
  height:25px;
}
#u151_input {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u152 {
  position:absolute;
  left:150px;
  top:168px;
  width:100px;
  height:22px;
}
#u152_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u152_input:disabled {
  color:grayText;
}
#u153 {
  position:absolute;
  left:250px;
  top:168px;
  width:100px;
  height:22px;
}
#u153_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u153_input:disabled {
  color:grayText;
}
#u154 {
  position:absolute;
  left:350px;
  top:168px;
  width:100px;
  height:22px;
}
#u154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u154_input:disabled {
  color:grayText;
}
#u155 {
  position:absolute;
  left:150px;
  top:200px;
  width:170px;
  height:25px;
}
#u155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u156 {
  position:absolute;
  left:150px;
  top:249px;
  width:100px;
  height:22px;
}
#u156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u156_input:disabled {
  color:grayText;
}
#u157 {
  position:absolute;
  left:150px;
  top:288px;
  width:100px;
  height:22px;
}
#u157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u157_input:disabled {
  color:grayText;
}
#u158 {
  position:absolute;
  left:140px;
  top:370px;
  width:480px;
  height:100px;
}
#u158_input {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u159 {
  position:absolute;
  left:150px;
  top:490px;
  width:100px;
  height:90px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u160 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:260px;
  top:490px;
  width:100px;
  height:90px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u162 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:370px;
  top:490px;
  width:100px;
  height:90px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u164 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:480px;
  top:490px;
  width:100px;
  height:90px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u166 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:235px;
  top:490px;
  width:15px;
  height:15px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u168 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:345px;
  top:490px;
  width:15px;
  height:15px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u170 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:455px;
  top:490px;
  width:15px;
  height:15px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u172 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:565px;
  top:490px;
  width:15px;
  height:15px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u174 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:590px;
  top:520px;
  width:30px;
  height:30px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u176 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:337px;
  top:612px;
  width:100px;
  height:25px;
}
#u177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u178 {
  position:absolute;
  left:0px;
  top:80px;
  width:130px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u179 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:130px;
  top:80px;
  width:510px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:40px;
}
#u181 {
  position:absolute;
  left:2px;
  top:12px;
  width:506px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:0px;
  top:40px;
  width:130px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u183 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:130px;
  top:40px;
  width:510px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:40px;
}
#u185 {
  position:absolute;
  left:2px;
  top:12px;
  width:506px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:130px;
  top:105px;
  width:90px;
  height:25px;
}
#u186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u186_ann {
  position:absolute;
  left:213px;
  top:101px;
  width:1px;
  height:1px;
}
#u187 {
  position:absolute;
  left:380px;
  top:190px;
  visibility:hidden;
}
#u187_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u187_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:40px;
}
#u189 {
  position:absolute;
  left:2px;
  top:12px;
  width:536px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:0px;
  top:40px;
  width:540px;
  height:583px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:583px;
}
#u191 {
  position:absolute;
  left:2px;
  top:284px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:70px;
  top:64px;
  width:53px;
  height:16px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:150px;
  top:60px;
  width:240px;
  height:25px;
}
#u194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u194_ann {
  position:absolute;
  left:383px;
  top:56px;
  width:1px;
  height:1px;
}
#u195 {
  position:absolute;
  left:150px;
  top:107px;
  width:80px;
  height:22px;
}
#u195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u195_input:disabled {
  color:grayText;
}
#u196 {
  position:absolute;
  left:230px;
  top:107px;
  width:80px;
  height:22px;
}
#u196_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u196_input:disabled {
  color:grayText;
}
#u197 {
  position:absolute;
  left:310px;
  top:107px;
  width:80px;
  height:22px;
}
#u197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u197_input:disabled {
  color:grayText;
}
#u198 {
  position:absolute;
  left:150px;
  top:181px;
  width:240px;
  height:22px;
}
#u198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u198_input:disabled {
  color:grayText;
}
#u199 {
  position:absolute;
  left:150px;
  top:219px;
  width:240px;
  height:22px;
}
#u199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u199_input:disabled {
  color:grayText;
}
#u200 {
  position:absolute;
  left:145px;
  top:575px;
  width:100px;
  height:25px;
}
#u200_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u201 {
  position:absolute;
  left:150px;
  top:135px;
  width:240px;
  height:25px;
}
#u201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u202 {
  position:absolute;
  left:150px;
  top:264px;
  width:240px;
  height:150px;
}
#u202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:150px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u203 {
  position:absolute;
  left:70px;
  top:436px;
  width:53px;
  height:16px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u205 {
  position:absolute;
  left:150px;
  top:436px;
  width:88px;
  height:88px;
  color:#BCBCBC;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u206 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:70px;
  top:107px;
  width:53px;
  height:16px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u209 {
  position:absolute;
  left:70px;
  top:184px;
  width:53px;
  height:12px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:12px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u211 {
  position:absolute;
  left:70px;
  top:222px;
  width:53px;
  height:12px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:12px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u213 {
  position:absolute;
  left:70px;
  top:264px;
  width:53px;
  height:12px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:12px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u215 {
  position:absolute;
  left:295px;
  top:575px;
  width:100px;
  height:25px;
}
#u215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
