body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:860px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:860px;
}
#u1 {
  position:absolute;
  left:2px;
  top:422px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:404px;
  top:30px;
  width:391px;
  height:36px;
  font-size:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:36px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:110px;
  width:307px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:80px;
  top:154px;
  width:778px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:50px;
  top:210px;
  width:307px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:80px;
  top:254px;
  width:771px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1048px;
  top:18px;
  width:132px;
  height:42px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:42px;
}
#u13 {
  position:absolute;
  left:2px;
  top:13px;
  width:128px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:50px;
  top:344px;
  width:63px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:46px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  height:1px;
}
#u15 {
  position:absolute;
  left:130px;
  top:340px;
  width:845px;
  height:16px;
  font-size:14px;
  color:#00CC00;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:113px;
  top:342px;
  width:12px;
  height:12px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
