body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:370px;
  top:40px;
  width:163px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:170px;
  top:78px;
  width:580px;
  height:735px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:735px;
}
#u3 {
  position:absolute;
  left:2px;
  top:360px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
