body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:42px;
  width:375px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:107px;
  top:46px;
  width:362px;
  height:12px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:12px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:103px;
  top:75px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:257px;
  top:81px;
  width:81px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:101px;
  top:117px;
  width:373px;
  height:863px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:863px;
}
#u9 {
  position:absolute;
  left:2px;
  top:424px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:112px;
  top:578px;
  width:355px;
  height:138px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:138px;
}
#u11 {
  position:absolute;
  left:2px;
  top:61px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:112px;
  top:177px;
  width:352px;
  height:41px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:41px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:118px;
  top:177px;
  width:345px;
  height:41px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:41px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:126px;
  top:189px;
  width:52px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:112px;
  top:274px;
  width:352px;
  height:41px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:41px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:434px;
  top:284px;
  width:23px;
  height:21px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:112px;
  top:314px;
  width:352px;
  height:198px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:198px;
}
#u23 {
  position:absolute;
  left:2px;
  top:91px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:126px;
  top:330px;
  width:141px;
  height:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:130px;
  top:370px;
  width:33px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:398px;
  top:370px;
  width:45px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u29 {
  position:absolute;
  left:2px;
  top:0px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:126px;
  top:400px;
  width:329px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:312px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:329px;
  height:1px;
}
#u31 {
  position:absolute;
  left:128px;
  top:420px;
  width:141px;
  height:15px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:132px;
  top:460px;
  width:33px;
  height:15px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:400px;
  top:460px;
  width:45px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u36 {
  position:absolute;
  left:2px;
  top:0px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:120px;
  top:284px;
  width:200px;
  height:21px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:132px;
  top:286px;
  width:52px;
  height:15px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:123px;
  top:584px;
  width:200px;
  height:28px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:128px;
  top:590px;
  width:65px;
  height:15px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:110px;
  top:870px;
  width:355px;
  height:42px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:42px;
}
#u46 {
  position:absolute;
  left:2px;
  top:13px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:102px;
  top:926px;
  width:374px;
  height:47px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:47px;
}
#u48 {
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:100px;
  top:117px;
  width:375px;
  height:50px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u50 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:118px;
  top:133px;
  width:171px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:17px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:113px;
  top:218px;
  width:350px;
  height:51px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:51px;
}
#u54 {
  position:absolute;
  left:2px;
  top:18px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:112px;
  top:722px;
  width:355px;
  height:138px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:138px;
}
#u56 {
  position:absolute;
  left:2px;
  top:61px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:119px;
  top:726px;
  width:200px;
  height:28px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:127px;
  top:731px;
  width:52px;
  height:15px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:112px;
  top:522px;
  width:355px;
  height:42px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:42px;
}
#u62 {
  position:absolute;
  left:2px;
  top:13px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:122px;
  top:530px;
  width:71px;
  height:24px;
  font-size:14px;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
}
#u64 {
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:435px;
  top:532px;
  width:23px;
  height:21px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
