body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1116px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:31px;
  top:30px;
  width:141px;
  height:34px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:55px;
  top:107px;
  width:21px;
  height:24px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:88px;
  top:110px;
  width:75px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:86px;
  top:148px;
  width:1030px;
  height:56px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:56px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:55px;
  top:256px;
  width:21px;
  height:24px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:88px;
  top:259px;
  width:75px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:86px;
  top:300px;
  width:714px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:28px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:55px;
  top:350px;
  width:21px;
  height:24px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:88px;
  top:352px;
  width:162px;
  height:45px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:86px;
  top:395px;
  width:1030px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:55px;
  top:446px;
  width:21px;
  height:24px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:88px;
  top:448px;
  width:162px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:88px;
  top:493px;
  width:548px;
  height:127px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u26 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:100px;
  top:0px;
  width:443px;
  height:41px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:41px;
}
#u28 {
  position:absolute;
  left:2px;
  top:11px;
  width:439px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:41px;
  width:100px;
  height:42px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:100px;
  top:41px;
  width:443px;
  height:42px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:42px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:439px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:83px;
  width:100px;
  height:39px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:100px;
  top:83px;
  width:443px;
  height:39px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:39px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:439px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:55px;
  top:646px;
  width:21px;
  height:24px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:86px;
  top:648px;
  width:162px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:22px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:86px;
  top:685px;
  width:832px;
  height:56px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:56px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:55px;
  top:766px;
  width:21px;
  height:24px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:86px;
  top:768px;
  width:162px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:22px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:86px;
  top:814px;
  width:832px;
  height:560px;
  color:#666666;
  line-height:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:560px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  word-wrap:break-word;
}
