body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:95px;
  top:50px;
  width:375px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:103px;
  top:54px;
  width:362px;
  height:12px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:12px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:125px;
  top:89px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:99px;
  top:83px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:427px;
  top:84px;
  width:32px;
  height:32px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:265px;
  top:89px;
  width:33px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:95px;
  top:130px;
  width:375px;
  height:583px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:583px;
}
#u13 {
  position:absolute;
  left:2px;
  top:284px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:426px;
  top:145px;
  width:74px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:57px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:4px;
  width:74px;
  height:2px;
}
#u15 {
  position:absolute;
  left:510px;
  top:139px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:366px;
  top:192px;
  width:134px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:117px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:4px;
  width:134px;
  height:2px;
}
#u18 {
  position:absolute;
  left:510px;
  top:186px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:438px;
  top:218px;
  width:60px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  height:2px;
}
#u21 {
  position:absolute;
  left:509px;
  top:214px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:278px;
  top:241px;
  width:220px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:4px;
  width:220px;
  height:2px;
}
#u24 {
  position:absolute;
  left:508px;
  top:237px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:248px;
  top:269px;
  width:242px;
  height:21px;
}
#u26_seg0 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:14px;
}
#u26_seg1 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:40px;
}
#u26_seg2 {
  position:absolute;
  left:-10px;
  top:10px;
  width:262px;
  height:20px;
}
#u26_seg3 {
  position:absolute;
  left:232px;
  top:10px;
  width:20px;
  height:15px;
}
#u27 {
  position:absolute;
  left:62px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:508px;
  top:275px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:511px;
  top:342px;
  width:269px;
  height:86px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:86px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:341px;
  top:346px;
  width:17px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:358px;
  top:350px;
  width:148px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:131px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:4px;
  width:148px;
  height:2px;
}
#u35 {
  position:absolute;
  left:70px;
  top:214px;
  width:90px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  height:2px;
}
#u36 {
  position:absolute;
  left:14px;
  top:187px;
  width:66px;
  height:115px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:115px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
