body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:176px;
  top:107px;
  width:1196px;
  height:15px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1196px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:253px;
  top:184px;
  width:460px;
  height:400px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:400px;
}
#u3 {
  position:absolute;
  left:2px;
  top:192px;
  width:456px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:258px;
  top:129px;
  width:480px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:38px;
}
#u5 {
  position:absolute;
  left:0px;
  top:7px;
  width:480px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:757px;
  top:168px;
  width:113px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u7 {
  position:absolute;
  left:0px;
  top:16px;
  width:113px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:258px;
  top:167px;
  width:1104px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:1087px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1104px;
  height:1px;
}
#u9 {
  position:absolute;
  left:1174px;
  top:603px;
  width:197px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:60px;
}
#u10 {
  position:absolute;
  left:2px;
  top:22px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:303px;
  top:602px;
  width:65px;
  height:58px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:58px;
}
#u12 {
  position:absolute;
  left:2px;
  top:21px;
  width:61px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:376px;
  top:603px;
  width:65px;
  height:58px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:58px;
}
#u14 {
  position:absolute;
  left:2px;
  top:21px;
  width:61px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:450px;
  top:603px;
  width:65px;
  height:58px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:58px;
}
#u16 {
  position:absolute;
  left:2px;
  top:21px;
  width:61px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:524px;
  top:603px;
  width:65px;
  height:58px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:58px;
}
#u18 {
  position:absolute;
  left:2px;
  top:21px;
  width:61px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:598px;
  top:603px;
  width:65px;
  height:58px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:58px;
}
#u20 {
  position:absolute;
  left:2px;
  top:21px;
  width:61px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1211px;
  top:606px;
  width:133px;
  height:55px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:55px;
}
#u22 {
  position:absolute;
  left:0px;
  top:13px;
  width:133px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:180px;
  top:687px;
  width:1204px;
  height:697px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1204px;
  height:697px;
}
#u24 {
  position:absolute;
  left:2px;
  top:340px;
  width:1200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:212px;
  top:792px;
  width:1144px;
  height:48px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:48px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:212px;
  top:869px;
  width:1109px;
  height:112px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1109px;
  height:112px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:1109px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:206px;
  top:1024px;
  width:1108px;
  height:288px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:288px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:204px;
  top:1338px;
  width:66px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:323px;
  top:1338px;
  width:425px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:858px;
  top:180px;
  width:135px;
  height:26px;
  color:#FF0000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
}
#u36 {
  position:absolute;
  left:0px;
  top:5px;
  width:135px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1207px;
  top:124px;
  width:151px;
  height:50px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u38 {
  position:absolute;
  left:0px;
  top:4px;
  width:151px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1133px;
  top:132px;
  width:85px;
  height:35px;
  font-size:18px;
  color:#C9C9C9;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
}
#u40 {
  position:absolute;
  left:0px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1140px;
  top:144px;
  width:70px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u42 {
  position:absolute;
  left:212px;
  top:753px;
  width:162px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:29px;
}
#u43 {
  position:absolute;
  left:0px;
  top:6px;
  width:162px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:212px;
  top:847px;
  width:162px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:29px;
}
#u45 {
  position:absolute;
  left:0px;
  top:6px;
  width:162px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:212px;
  top:995px;
  width:162px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:29px;
}
#u47 {
  position:absolute;
  left:0px;
  top:6px;
  width:162px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:180px;
  top:77px;
  width:230px;
  height:30px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u49 {
  position:absolute;
  left:0px;
  top:7px;
  width:230px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:212px;
  top:714px;
  width:1144px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:29px;
}
#u51 {
  position:absolute;
  left:0px;
  top:6px;
  width:1144px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:776px;
  top:267px;
  width:600px;
  height:331px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  color:#FFFFFF;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
}
#u54 {
  position:absolute;
  left:2px;
  top:5px;
  width:81px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:85px;
  top:0px;
  width:85px;
  height:26px;
  color:#FFFFFF;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
}
#u56 {
  position:absolute;
  left:2px;
  top:5px;
  width:81px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:170px;
  top:0px;
  width:85px;
  height:26px;
  color:#FFFFFF;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
}
#u58 {
  position:absolute;
  left:2px;
  top:5px;
  width:81px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:255px;
  top:0px;
  width:85px;
  height:26px;
  color:#FFFFFF;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
}
#u60 {
  position:absolute;
  left:2px;
  top:5px;
  width:81px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:340px;
  top:0px;
  width:85px;
  height:26px;
  color:#FFFFFF;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
}
#u62 {
  position:absolute;
  left:2px;
  top:5px;
  width:81px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:425px;
  top:0px;
  width:85px;
  height:26px;
  color:#FFFFFF;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
}
#u64 {
  position:absolute;
  left:2px;
  top:5px;
  width:81px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:510px;
  top:0px;
  width:85px;
  height:26px;
  color:#FFFFFF;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
}
#u66 {
  position:absolute;
  left:2px;
  top:5px;
  width:81px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:26px;
  width:85px;
  height:60px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:85px;
  top:26px;
  width:85px;
  height:60px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:170px;
  top:26px;
  width:85px;
  height:60px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:255px;
  top:26px;
  width:85px;
  height:60px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:340px;
  top:26px;
  width:85px;
  height:60px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:425px;
  top:26px;
  width:85px;
  height:60px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:510px;
  top:26px;
  width:85px;
  height:60px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:86px;
  width:85px;
  height:60px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:85px;
  top:86px;
  width:85px;
  height:60px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:170px;
  top:86px;
  width:85px;
  height:60px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:255px;
  top:86px;
  width:85px;
  height:60px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:340px;
  top:86px;
  width:85px;
  height:60px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:425px;
  top:86px;
  width:85px;
  height:60px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:510px;
  top:86px;
  width:85px;
  height:60px;
  color:#D7D7D7;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:146px;
  width:85px;
  height:60px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:85px;
  top:146px;
  width:85px;
  height:60px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:170px;
  top:146px;
  width:85px;
  height:60px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:255px;
  top:146px;
  width:85px;
  height:60px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:340px;
  top:146px;
  width:85px;
  height:60px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:425px;
  top:146px;
  width:85px;
  height:60px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:510px;
  top:146px;
  width:85px;
  height:60px;
  color:#D7D7D7;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:0px;
  top:206px;
  width:85px;
  height:60px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:85px;
  top:206px;
  width:85px;
  height:60px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:170px;
  top:206px;
  width:85px;
  height:60px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:255px;
  top:206px;
  width:85px;
  height:60px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:340px;
  top:206px;
  width:85px;
  height:60px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:425px;
  top:206px;
  width:85px;
  height:60px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u120 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:510px;
  top:206px;
  width:85px;
  height:60px;
  color:#D7D7D7;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:0px;
  top:266px;
  width:85px;
  height:60px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u124 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:85px;
  top:266px;
  width:85px;
  height:60px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u126 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:170px;
  top:266px;
  width:85px;
  height:60px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:255px;
  top:266px;
  width:85px;
  height:60px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u130 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:340px;
  top:266px;
  width:85px;
  height:60px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u132 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:425px;
  top:266px;
  width:85px;
  height:60px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u134 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:510px;
  top:266px;
  width:85px;
  height:60px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u136 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:776px;
  top:222px;
  width:595px;
  height:45px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:45px;
}
#u138 {
  position:absolute;
  left:2px;
  top:14px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:1228px;
  top:486px;
  width:35px;
  height:16px;
  color:#FF6600;
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:1140px;
  top:487px;
  width:35px;
  height:16px;
  color:#FF6600;
  text-align:center;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:1058px;
  top:488px;
  width:35px;
  height:16px;
  color:#FF6600;
  text-align:center;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:976px;
  top:545px;
  width:35px;
  height:16px;
  color:#FF6600;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:976px;
  top:487px;
  width:35px;
  height:16px;
  color:#FF6600;
  text-align:center;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:1056px;
  top:545px;
  width:35px;
  height:16px;
  color:#FF6600;
  text-align:center;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:890px;
  top:485px;
  width:35px;
  height:16px;
  color:#FF6600;
  text-align:center;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:806px;
  top:485px;
  width:35px;
  height:16px;
  color:#FF6600;
  text-align:center;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:806px;
  top:544px;
  width:35px;
  height:16px;
  color:#FF6600;
  text-align:center;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:890px;
  top:543px;
  width:35px;
  height:16px;
  color:#FF6600;
  text-align:center;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:960px;
  top:504px;
  width:21px;
  height:16px;
  color:#66CCFF;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:1042px;
  top:504px;
  width:21px;
  height:16px;
  color:#66CCFF;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:870px;
  top:504px;
  width:21px;
  height:16px;
  color:#66CCFF;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:789px;
  top:560px;
  width:21px;
  height:16px;
  color:#66CCFF;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:789px;
  top:504px;
  width:21px;
  height:16px;
  color:#66CCFF;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:1132px;
  top:504px;
  width:21px;
  height:16px;
  color:#66CCFF;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:1216px;
  top:504px;
  width:21px;
  height:16px;
  color:#66CCFF;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u173 {
  position:absolute;
  left:870px;
  top:560px;
  width:21px;
  height:16px;
  color:#66CCFF;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u175 {
  position:absolute;
  left:960px;
  top:561px;
  width:21px;
  height:16px;
  color:#66CCFF;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u177 {
  position:absolute;
  left:1042px;
  top:561px;
  width:21px;
  height:16px;
  color:#66CCFF;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u179 {
  position:absolute;
  left:253px;
  top:602px;
  width:40px;
  height:60px;
  font-size:60px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:60px;
}
#u180 {
  position:absolute;
  left:2px;
  top:-4px;
  width:36px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:673px;
  top:602px;
  width:40px;
  height:60px;
  font-size:60px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:60px;
}
#u182 {
  position:absolute;
  left:2px;
  top:-4px;
  width:36px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:1029px;
  top:637px;
  width:135px;
  height:26px;
  color:#FF0000;
  text-align:center;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
}
#u184 {
  position:absolute;
  left:0px;
  top:5px;
  width:135px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:1033px;
  top:362px;
  width:120px;
  height:158px;
  overflow:hidden;
}
#u185_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:158px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u185_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:148px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:148px;
}
#u187 {
  position:absolute;
  left:2px;
  top:66px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:10px;
  top:24px;
  width:27px;
  height:16px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u190 {
  position:absolute;
  left:9px;
  top:48px;
  width:27px;
  height:16px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:68px;
  top:48px;
  width:35px;
  height:16px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:10px;
  top:74px;
  width:27px;
  height:16px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u196 {
  position:absolute;
  left:68px;
  top:74px;
  width:35px;
  height:16px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u198 {
  position:absolute;
  left:10px;
  top:100px;
  width:27px;
  height:16px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u200 {
  position:absolute;
  left:68px;
  top:100px;
  width:35px;
  height:16px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:68px;
  top:24px;
  width:35px;
  height:16px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u204 {
  position:absolute;
  left:948px;
  top:474px;
  width:82px;
  height:61px;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:61px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:159px;
  top:0px;
  width:1241px;
  height:70px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:70px;
}
#u208 {
  position:absolute;
  left:2px;
  top:27px;
  width:1237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u210 {
  position:absolute;
  left:2px;
  top:27px;
  width:156px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:0px;
  top:666px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u212 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:0px;
  top:567px;
  width:160px;
  height:50px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u214 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:0px;
  top:616px;
  width:160px;
  height:50px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u216 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:0px;
  top:419px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u218 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:114px;
  top:437px;
  width:15px;
  height:15px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u220 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:17px;
  top:434px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u223 {
  position:absolute;
  left:0px;
  top:469px;
  width:160px;
  height:50px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u224 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:0px;
  top:319px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u226 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:106px;
  top:336px;
  width:15px;
  height:15px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u228 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:38px;
  top:336px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u231 {
  position:absolute;
  left:0px;
  top:369px;
  width:160px;
  height:50px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u232 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:106px;
  top:684px;
  width:15px;
  height:15px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u234 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:38px;
  top:684px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u237 {
  position:absolute;
  left:0px;
  top:716px;
  width:160px;
  height:50px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u238 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:0px;
  top:765px;
  width:160px;
  height:50px;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u240 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:0px;
  top:815px;
  width:160px;
  height:50px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u242 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:0px;
  top:865px;
  width:160px;
  height:50px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u244 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:0px;
  top:70px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u246 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:115px;
  top:88px;
  width:15px;
  height:15px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u248 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:48px;
  top:84px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u251 {
  position:absolute;
  left:0px;
  top:120px;
  width:160px;
  height:50px;
  color:#1E1E1E;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u252 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:0px;
  top:219px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u254 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:115px;
  top:237px;
  width:15px;
  height:15px;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u256 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:48px;
  top:233px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u259 {
  position:absolute;
  left:0px;
  top:269px;
  width:160px;
  height:50px;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u260 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:834px;
  top:12px;
  width:106px;
  height:46px;
  font-size:16px;
  text-align:center;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:46px;
}
#u262 {
  position:absolute;
  left:0px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:1010px;
  top:12px;
  width:186px;
  height:46px;
  font-size:16px;
  text-align:center;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:46px;
}
#u264 {
  position:absolute;
  left:0px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:1250px;
  top:19px;
  width:60px;
  height:32px;
  font-size:16px;
  text-align:center;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u266 {
  position:absolute;
  left:0px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u267 {
  position:absolute;
  left:0px;
  top:170px;
  width:160px;
  height:50px;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u268 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:0px;
  top:518px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u270 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:10px;
  top:533px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
