body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1277px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:90px;
  width:382px;
  height:871px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:871px;
}
#u1 {
  position:absolute;
  left:2px;
  top:428px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:63px;
  top:52px;
  width:375px;
  height:80px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
}
#u4 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:70px;
  top:56px;
  width:362px;
  height:12px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:12px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-2px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:92px;
  top:91px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:66px;
  top:85px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:395px;
  top:86px;
  width:32px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:218px;
  top:94px;
  width:65px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:330px;
  top:429px;
  width:100px;
  height:31px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:332px;
  top:685px;
  width:100px;
  height:31px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:332px;
  top:914px;
  width:100px;
  height:31px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:233px;
  top:649px;
  width:254px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:237px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:4px;
  width:254px;
  height:2px;
}
#u22 {
  position:absolute;
  left:487px;
  top:640px;
  width:121px;
  height:29px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:487px;
  top:182px;
  width:790px;
  height:258px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:258px;
}
#u25 {
  position:absolute;
  left:2px;
  top:121px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
