body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:214px;
  top:310px;
  width:70px;
  height:70px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:312px;
  top:322px;
  width:392px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:450px;
  top:420px;
  width:100px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:751px;
  top:210px;
  width:304px;
  height:30px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:300px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:371px;
  top:210px;
  width:409px;
  height:30px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:405px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:5px;
  top:210px;
  width:395px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:391px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:31px;
  top:20px;
  width:145px;
  height:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:55px;
  top:540px;
  width:1000px;
  height:176px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:176px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:55px;
  top:482px;
  width:145px;
  height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:40px;
  top:154px;
  width:1070px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:40px;
  top:132px;
  width:300px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
