body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2308px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:72px;
  top:850px;
  width:193px;
  height:29px;
  font-size:24px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:29px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:72px;
  top:898px;
  width:569px;
  height:151px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:33px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:33px;
}
#u4 {
  position:absolute;
  left:2px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:125px;
  top:0px;
  width:141px;
  height:33px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u6 {
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:266px;
  top:0px;
  width:298px;
  height:33px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:33px;
}
#u8 {
  position:absolute;
  left:2px;
  top:9px;
  width:294px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:33px;
  width:125px;
  height:43px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:43px;
}
#u10 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:125px;
  top:33px;
  width:141px;
  height:43px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:43px;
}
#u12 {
  position:absolute;
  left:2px;
  top:14px;
  width:137px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:266px;
  top:33px;
  width:298px;
  height:43px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:43px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:294px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:76px;
  width:125px;
  height:36px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:125px;
  top:76px;
  width:141px;
  height:36px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:266px;
  top:76px;
  width:298px;
  height:36px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:3px;
  width:294px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:112px;
  width:125px;
  height:34px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:125px;
  top:112px;
  width:141px;
  height:34px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:266px;
  top:112px;
  width:298px;
  height:34px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:34px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:82px;
  top:69px;
  width:362px;
  height:12px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:12px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-2px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:80px;
  top:148px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:74px;
  top:250px;
  width:375px;
  height:450px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:450px;
}
#u32 {
  position:absolute;
  left:2px;
  top:217px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:75px;
  top:143px;
  width:375px;
  height:190px;
  color:#CCCCCC;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:190px;
}
#u34 {
  position:absolute;
  left:2px;
  top:88px;
  width:371px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:247px;
  top:306px;
  width:32px;
  height:32px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:74px;
  top:333px;
  width:375px;
  height:97px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:97px;
}
#u38 {
  position:absolute;
  left:2px;
  top:40px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:89px;
  top:343px;
  width:257px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:17px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:92px;
  top:376px;
  width:74px;
  height:13px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0099FF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:13px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:383px;
  top:346px;
  width:51px;
  height:19px;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:386px;
  top:374px;
  width:48px;
  height:19px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:409px;
  top:156px;
  width:27px;
  height:24px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u48 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:169px;
  top:19px;
  width:201px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:26px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:74px;
  top:429px;
  width:375px;
  height:251px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:251px;
}
#u52 {
  position:absolute;
  left:2px;
  top:118px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:99px;
  top:443px;
  width:59px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:85px;
  top:443px;
  width:10px;
  height:20px;
}
#u55_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u55_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u55_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:20px;
}
#u56 {
  position:absolute;
  left:99px;
  top:482px;
  width:301px;
  height:91px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:91px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:222px;
  top:652px;
  width:49px;
  height:13px;
  font-size:11px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:13px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:76px;
  top:63px;
  width:375px;
  height:80px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
}
#u61 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:84px;
  top:67px;
  width:362px;
  height:12px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:12px;
}
#u63 {
  position:absolute;
  left:2px;
  top:-2px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:106px;
  top:102px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:80px;
  top:96px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u67 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:408px;
  top:97px;
  width:32px;
  height:32px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u69 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:224px;
  top:102px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:608px;
  top:62px;
  width:362px;
  height:12px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:12px;
}
#u73 {
  position:absolute;
  left:2px;
  top:-2px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:604px;
  top:138px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u75 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:600px;
  top:243px;
  width:375px;
  height:517px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:517px;
}
#u77 {
  position:absolute;
  left:2px;
  top:250px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:601px;
  top:136px;
  width:375px;
  height:190px;
  color:#CCCCCC;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:190px;
}
#u79 {
  position:absolute;
  left:2px;
  top:88px;
  width:371px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:773px;
  top:299px;
  width:32px;
  height:32px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u81 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:601px;
  top:326px;
  width:375px;
  height:97px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:97px;
}
#u83 {
  position:absolute;
  left:2px;
  top:40px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:615px;
  top:336px;
  width:257px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:17px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:627px;
  top:371px;
  width:74px;
  height:13px;
  font-size:8px;
  color:#0099FF;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:13px;
}
#u87 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:909px;
  top:339px;
  width:51px;
  height:19px;
  font-size:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:912px;
  top:372px;
  width:48px;
  height:19px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u91 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:933px;
  top:146px;
  width:27px;
  height:24px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u93 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:600px;
  top:430px;
  width:375px;
  height:280px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:280px;
}
#u95 {
  position:absolute;
  left:2px;
  top:132px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:748px;
  top:18px;
  width:111px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:766px;
  top:676px;
  width:56px;
  height:13px;
  font-size:11px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:13px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:626px;
  top:502px;
  width:235px;
  height:164px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:164px;
}
#u101 {
  position:absolute;
  left:2px;
  top:74px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:631px;
  top:451px;
  width:52px;
  height:15px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:620px;
  top:472px;
  width:340px;
  height:10px;
}
#u104_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u104_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u104_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u105 {
  position:absolute;
  left:625px;
  top:470px;
  width:71px;
  height:10px;
}
#u105_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_end {
  position:absolute;
  left:54px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_line {
  position:absolute;
  left:0px;
  top:3px;
  width:71px;
  height:4px;
}
#u106 {
  position:absolute;
  left:727px;
  top:453px;
  width:52px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:601px;
  top:56px;
  width:375px;
  height:80px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
}
#u109 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:609px;
  top:60px;
  width:362px;
  height:12px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:12px;
}
#u111 {
  position:absolute;
  left:2px;
  top:-2px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:631px;
  top:95px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:605px;
  top:89px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u115 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:933px;
  top:90px;
  width:32px;
  height:32px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u117 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:749px;
  top:95px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:1070px;
  top:227px;
  width:1010px;
  height:523px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:523px;
}
#u121 {
  position:absolute;
  left:2px;
  top:254px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:1033px;
  top:590px;
  width:37px;
  height:161px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:161px;
}
#u123 {
  position:absolute;
  left:2px;
  top:72px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:1040px;
  top:670px;
  width:-250px;
  height:-210px;
}
#u124_seg0 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:14px;
}
#u124_seg1 {
  position:absolute;
  left:-170px;
  top:-10px;
  width:180px;
  height:20px;
}
#u124_seg2 {
  position:absolute;
  left:-170px;
  top:-220px;
  width:20px;
  height:230px;
}
#u124_seg3 {
  position:absolute;
  left:-254px;
  top:-220px;
  width:104px;
  height:20px;
}
#u125 {
  position:absolute;
  left:-210px;
  top:-78px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:1070px;
  top:838px;
  width:1238px;
  height:535px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:535px;
}
#u127 {
  position:absolute;
  left:2px;
  top:260px;
  width:1234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:1070px;
  top:800px;
  width:193px;
  height:29px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:29px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:896px;
  top:643px;
  width:145px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:18px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:1070px;
  top:1478px;
  width:1063px;
  height:190px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1063px;
  height:190px;
}
#u133 {
  position:absolute;
  left:2px;
  top:87px;
  width:1059px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:1070px;
  top:1440px;
  width:410px;
  height:29px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:29px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
