body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:695px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:64px;
  width:100px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:219px;
  top:64px;
  width:100px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:318px;
  top:64px;
  width:100px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:417px;
  top:64px;
  width:278px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:120px;
  top:103px;
  width:100px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u9 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:219px;
  top:103px;
  width:100px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u11 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:318px;
  top:103px;
  width:100px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:417px;
  top:103px;
  width:278px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:52px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:274px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:488px;
  top:128px;
  width:70px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:120px;
  top:154px;
  width:100px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:219px;
  top:154px;
  width:100px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u21 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:318px;
  top:154px;
  width:100px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u23 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:417px;
  top:154px;
  width:278px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:52px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:274px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:556px;
  top:180px;
  width:70px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:120px;
  top:205px;
  width:100px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u29 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:219px;
  top:205px;
  width:100px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u31 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:318px;
  top:205px;
  width:100px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u33 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:417px;
  top:205px;
  width:278px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:52px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:274px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:498px;
  top:231px;
  width:70px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:120px;
  top:256px;
  width:100px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u39 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:219px;
  top:256px;
  width:100px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u41 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:318px;
  top:256px;
  width:100px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u43 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:417px;
  top:256px;
  width:278px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:52px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:274px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:120px;
  top:307px;
  width:100px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u47 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:219px;
  top:307px;
  width:100px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u49 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:318px;
  top:307px;
  width:100px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u51 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:417px;
  top:307px;
  width:278px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:52px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:274px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:423px;
  top:333px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#3366FF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
