body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:90px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:90px;
}
#u2 {
  position:absolute;
  left:2px;
  top:37px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  height:70px;
  color:#AEAEAE;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1200px;
  top:20px;
  width:90px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:130px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:170px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:90px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:210px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:970px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:370px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:410px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:890px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:930px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:1010px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:1050px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:1090px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:330px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:250px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:290px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:490px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:530px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:450px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:570px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:610px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:650px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:690px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u51 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:730px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:770px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:810px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u57 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:850px;
  width:120px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u59 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:130px;
  top:115px;
  width:100px;
  height:30px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:253px;
  top:115px;
  width:100px;
  height:30px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:370px;
  top:115px;
  width:160px;
  height:30px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:130px;
  top:160px;
  width:1180px;
  height:150px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:150px;
}
#u67 {
  position:absolute;
  left:2px;
  top:67px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:140px;
  top:178px;
  width:380px;
  height:108px;
  color:transparent;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:108px;
}
#u69 {
  position:absolute;
  left:2px;
  top:46px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:515px;
  top:202px;
  width:12px;
  height:12px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:526px;
  top:202px;
  width:109px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:92px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:109px;
  height:1px;
}
#u73 {
  position:absolute;
  left:645px;
  top:197px;
  width:219px;
  height:32px;
  font-size:14px;
  color:#00CC00;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:32px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:252px;
  top:193px;
  width:80px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u76 {
  position:absolute;
  left:360px;
  top:193px;
  width:80px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u77 {
  position:absolute;
  left:147px;
  top:197px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:147px;
  top:249px;
  width:51px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:252px;
  top:245px;
  width:97px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u82 {
  position:absolute;
  left:278px;
  top:109px;
  width:12px;
  height:12px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u83 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:279px;
  top:45px;
  width:10px;
  height:64px;
}
#u84_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u84_end {
  position:absolute;
  left:-5px;
  top:47px;
  width:20px;
  height:18px;
}
#u84_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:64px;
}
#u85 {
  position:absolute;
  left:488px;
  top:109px;
  width:12px;
  height:12px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u86 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:489px;
  top:45px;
  width:10px;
  height:64px;
}
#u87_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u87_end {
  position:absolute;
  left:-5px;
  top:47px;
  width:20px;
  height:18px;
}
#u87_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:64px;
}
#u88 {
  position:absolute;
  left:284px;
  top:40px;
  width:33px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:16px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:5px;
  width:33px;
  height:1px;
}
#u89 {
  position:absolute;
  left:327px;
  top:37px;
  width:155px;
  height:16px;
  font-size:14px;
  color:#00CC00;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:130px;
  top:160px;
  width:1180px;
  height:180px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:180px;
}
#u92 {
  position:absolute;
  left:2px;
  top:82px;
  width:1176px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:130px;
  top:340px;
  width:1180px;
  height:350px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:350px;
}
#u94 {
  position:absolute;
  left:2px;
  top:167px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:146px;
  top:401px;
  width:37px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:251px;
  top:441px;
  width:80px;
  height:25px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u98 {
  position:absolute;
  left:359px;
  top:441px;
  width:80px;
  height:25px;
}
#u98_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u99 {
  position:absolute;
  left:251px;
  top:397px;
  width:80px;
  height:25px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u100 {
  position:absolute;
  left:146px;
  top:445px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:146px;
  top:488px;
  width:51px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:251px;
  top:484px;
  width:104px;
  height:25px;
}
#u104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u105 {
  position:absolute;
  left:146px;
  top:529px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:251px;
  top:525px;
  width:97px;
  height:25px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u108 {
  position:absolute;
  left:146px;
  top:357px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:130px;
  top:578px;
  width:1180px;
  height:112px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:112px;
}
#u111 {
  position:absolute;
  left:2px;
  top:48px;
  width:1176px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:130px;
  top:690px;
  width:1180px;
  height:440px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:440px;
}
#u113 {
  position:absolute;
  left:2px;
  top:212px;
  width:1176px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:501px;
  top:446px;
  width:109px;
  height:10px;
}
#u114_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_end {
  position:absolute;
  left:92px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_line {
  position:absolute;
  left:0px;
  top:5px;
  width:109px;
  height:1px;
}
#u115 {
  position:absolute;
  left:620px;
  top:441px;
  width:429px;
  height:32px;
  font-size:14px;
  color:#00CC00;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:32px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:490px;
  top:446px;
  width:12px;
  height:12px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u118 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1367px;
  top:160px;
  width:480px;
  height:471px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:471px;
}
#u120 {
  position:absolute;
  left:2px;
  top:228px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1367px;
  top:160px;
  width:480px;
  height:44px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:44px;
}
#u122 {
  position:absolute;
  left:2px;
  top:14px;
  width:476px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1403px;
  top:250px;
  width:410px;
  height:192px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:192px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u124 {
  position:absolute;
  left:1403px;
  top:224px;
  width:40px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:1403px;
  top:452px;
  width:118px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:1403px;
  top:480px;
  width:95px;
  height:80px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:80px;
}
#u129 {
  position:absolute;
  left:2px;
  top:32px;
  width:91px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:1513px;
  top:480px;
  width:95px;
  height:80px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:80px;
}
#u131 {
  position:absolute;
  left:2px;
  top:32px;
  width:91px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:1627px;
  top:480px;
  width:86px;
  height:80px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:80px;
}
#u133 {
  position:absolute;
  left:2px;
  top:32px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:1643px;
  top:515px;
  width:56px;
  height:10px;
}
#u134_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_end {
  position:absolute;
  left:39px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_line {
  position:absolute;
  left:0px;
  top:5px;
  width:56px;
  height:1px;
}
#u135 {
  position:absolute;
  left:1665px;
  top:496px;
  width:10px;
  height:50px;
}
#u135_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u135_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u135_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u136 {
  position:absolute;
  left:1807px;
  top:167px;
  width:30px;
  height:30px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u137 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:1473px;
  top:596px;
  width:100px;
  height:25px;
}
#u138_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u139 {
  position:absolute;
  left:1613px;
  top:596px;
  width:100px;
  height:25px;
}
#u139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u140 {
  position:absolute;
  left:1373px;
  top:174px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#00CC00;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:1403px;
  top:570px;
  width:131px;
  height:16px;
  color:#FF0000;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:1367px;
  top:637px;
  width:413px;
  height:32px;
  font-size:14px;
  color:#00CC00;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:32px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:1970px;
  top:160px;
  width:440px;
  height:270px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:270px;
}
#u147 {
  position:absolute;
  left:2px;
  top:127px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:1970px;
  top:160px;
  width:440px;
  height:44px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:44px;
}
#u149 {
  position:absolute;
  left:2px;
  top:14px;
  width:436px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:2370px;
  top:167px;
  width:30px;
  height:30px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u151 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:2040px;
  top:260px;
  width:337px;
  height:32px;
  font-size:14px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:32px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:2140px;
  top:383px;
  width:100px;
  height:25px;
}
#u154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u155 {
  position:absolute;
  left:1970px;
  top:440px;
  width:440px;
  height:32px;
  font-size:14px;
  color:#00CC00;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:32px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
