body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:65px;
  top:80px;
  width:375px;
  height:770px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
}
#u1 {
  position:absolute;
  left:2px;
  top:377px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:87px;
  top:139px;
  width:27px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:17px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:153px;
  top:139px;
  width:39px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:227px;
  top:139px;
  width:39px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:299px;
  top:139px;
  width:39px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:65px;
  top:162px;
  width:375px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u11 {
  position:absolute;
  left:65px;
  top:163px;
  width:65px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:48px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:65px;
  height:1px;
}
#u12 {
  position:absolute;
  left:65px;
  top:202px;
  width:375px;
  height:78px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:78px;
}
#u13 {
  position:absolute;
  left:2px;
  top:31px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:65px;
  top:202px;
  width:85px;
  height:78px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:78px;
}
#u15 {
  position:absolute;
  left:2px;
  top:32px;
  width:81px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:155px;
  top:207px;
  width:195px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:58px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:388px;
  top:210px;
  width:40px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:383px;
  top:227px;
  width:47px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:385px;
  top:229px;
  width:46px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:29px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:46px;
  height:1px;
}
#u23 {
  position:absolute;
  left:82px;
  top:179px;
  width:25px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:387px;
  top:176px;
  width:39px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:65px;
  top:279px;
  width:375px;
  height:31px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:31px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:310px;
  top:287px;
  width:124px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:65px;
  top:400px;
  width:375px;
  height:78px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:78px;
}
#u32 {
  position:absolute;
  left:2px;
  top:31px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:65px;
  top:400px;
  width:85px;
  height:78px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:78px;
}
#u34 {
  position:absolute;
  left:2px;
  top:32px;
  width:81px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:155px;
  top:405px;
  width:195px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:58px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:388px;
  top:408px;
  width:40px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:383px;
  top:425px;
  width:47px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:385px;
  top:427px;
  width:46px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:29px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:46px;
  height:1px;
}
#u42 {
  position:absolute;
  left:387px;
  top:374px;
  width:39px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:65px;
  top:477px;
  width:375px;
  height:31px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:31px;
}
#u45 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:310px;
  top:485px;
  width:124px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:65px;
  top:597px;
  width:375px;
  height:78px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:78px;
}
#u49 {
  position:absolute;
  left:2px;
  top:31px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:65px;
  top:597px;
  width:85px;
  height:78px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:78px;
}
#u51 {
  position:absolute;
  left:2px;
  top:32px;
  width:81px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:155px;
  top:602px;
  width:195px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:58px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:388px;
  top:605px;
  width:40px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:383px;
  top:622px;
  width:47px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:385px;
  top:624px;
  width:46px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:29px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:46px;
  height:1px;
}
#u59 {
  position:absolute;
  left:387px;
  top:571px;
  width:39px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:65px;
  top:674px;
  width:375px;
  height:31px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:31px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:310px;
  top:682px;
  width:124px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:65px;
  top:742px;
  width:375px;
  height:78px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:78px;
}
#u66 {
  position:absolute;
  left:2px;
  top:31px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:65px;
  top:742px;
  width:85px;
  height:78px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:78px;
}
#u68 {
  position:absolute;
  left:2px;
  top:32px;
  width:81px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:155px;
  top:747px;
  width:195px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:58px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:388px;
  top:750px;
  width:40px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:383px;
  top:767px;
  width:47px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:385px;
  top:769px;
  width:46px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:29px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:46px;
  height:1px;
}
#u76 {
  position:absolute;
  left:387px;
  top:716px;
  width:39px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:65px;
  top:819px;
  width:375px;
  height:31px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:31px;
}
#u79 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:310px;
  top:827px;
  width:124px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:68px;
  top:181px;
  width:10px;
  height:13px;
}
#u82_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u82_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u82_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:13px;
}
#u83 {
  position:absolute;
  left:86px;
  top:374px;
  width:25px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:72px;
  top:376px;
  width:10px;
  height:13px;
}
#u85_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u85_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u85_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:13px;
}
#u86 {
  position:absolute;
  left:89px;
  top:571px;
  width:25px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:75px;
  top:573px;
  width:10px;
  height:13px;
}
#u88_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u88_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u88_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:13px;
}
#u89 {
  position:absolute;
  left:89px;
  top:716px;
  width:25px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:75px;
  top:718px;
  width:10px;
  height:13px;
}
#u91_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u91_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u91_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:13px;
}
#u92 {
  position:absolute;
  left:65px;
  top:80px;
  width:375px;
  height:49px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
}
#u93 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:76px;
  top:89px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u95 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:214px;
  top:97px;
  width:74px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:277px;
  top:100px;
  width:16px;
  height:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u99 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:292px;
  top:103px;
  width:188px;
  height:10px;
}
#u100_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_end {
  position:absolute;
  left:171px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_line {
  position:absolute;
  left:0px;
  top:4px;
  width:188px;
  height:2px;
}
#u101 {
  position:absolute;
  left:500px;
  top:115px;
  width:140px;
  height:100px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
}
#u102 {
  position:absolute;
  left:2px;
  top:42px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:528px;
  top:129px;
  width:87px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:536px;
  top:177px;
  width:87px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:500px;
  top:157px;
  width:140px;
  height:10px;
}
#u107_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_end {
  position:absolute;
  left:123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_line {
  position:absolute;
  left:0px;
  top:5px;
  width:140px;
  height:1px;
}
#u108 {
  position:absolute;
  left:532px;
  top:84px;
  width:74px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:595px;
  top:87px;
  width:16px;
  height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u111 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:65px;
  top:308px;
  width:375px;
  height:51px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
}
#u113 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:344px;
  top:314px;
  width:88px;
  height:36px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u115 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:65px;
  top:507px;
  width:375px;
  height:51px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
}
#u117 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:344px;
  top:514px;
  width:88px;
  height:36px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
