body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1833px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:309px;
  top:1029px;
  width:970px;
  height:70px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:27px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1081px;
  top:1028px;
  width:197px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:70px;
}
#u3 {
  position:absolute;
  left:0px;
  top:14px;
  width:197px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:287px;
  top:200px;
  width:931px;
  height:23px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:23px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:294px;
  top:272px;
  width:75px;
  height:22px;
  font-size:18px;
  color:#3399FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:294px;
  top:290px;
  width:981px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:964px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:4px;
  width:981px;
  height:2px;
}
#u9 {
  position:absolute;
  left:301px;
  top:739px;
  width:38px;
  height:22px;
  font-size:18px;
  color:#3399FF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:303px;
  top:764px;
  width:981px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:964px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:4px;
  width:981px;
  height:2px;
}
#u12 {
  position:absolute;
  left:318px;
  top:328px;
  width:950px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:933px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:950px;
  height:1px;
}
#u13 {
  position:absolute;
  left:1081px;
  top:988px;
  width:10px;
  height:70px;
}
#u13_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u13_end {
  position:absolute;
  left:-5px;
  top:53px;
  width:20px;
  height:18px;
}
#u13_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:70px;
}
#u14 {
  position:absolute;
  left:309px;
  top:1029px;
  width:474px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:70px;
}
#u15 {
  position:absolute;
  left:0px;
  top:14px;
  width:474px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:180px;
  top:77px;
  width:230px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u17 {
  position:absolute;
  left:0px;
  top:8px;
  width:230px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:948px;
  top:347px;
  width:310px;
  height:116px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:116px;
}
#u19 {
  position:absolute;
  left:2px;
  top:50px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:965px;
  top:354px;
  width:93px;
  height:43px;
  font-size:16px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:43px;
}
#u21 {
  position:absolute;
  left:0px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:965px;
  top:400px;
  width:273px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:256px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:273px;
  height:1px;
}
#u23 {
  position:absolute;
  left:843px;
  top:1006px;
  width:435px;
  height:30px;
  color:#FF0000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:431px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1010px;
  top:414px;
  width:186px;
  height:43px;
  font-size:15px;
  color:#AEAEAE;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:43px;
}
#u26 {
  position:absolute;
  left:0px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:438px;
  top:101px;
  width:669px;
  height:69px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:69px;
}
#u28 {
  position:absolute;
  left:2px;
  top:26px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:303px;
  top:792px;
  width:981px;
  height:173px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:173px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u30 {
  position:absolute;
  left:1178px;
  top:929px;
  width:75px;
  height:26px;
  color:#CCCCCC;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u31 {
  position:absolute;
  left:0px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:321px;
  top:346px;
  width:139px;
  height:35px;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:35px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:494px;
  top:355px;
  width:95px;
  height:20px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:653px;
  top:352px;
  width:42px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:654px;
  top:353px;
  width:40px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#009DDA;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u39 {
  position:absolute;
  left:695px;
  top:352px;
  width:25px;
  height:27px;
  color:#009DDA;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:628px;
  top:352px;
  width:25px;
  height:27px;
  color:#009DDA;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:159px;
  top:0px;
  width:1241px;
  height:70px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:70px;
}
#u45 {
  position:absolute;
  left:2px;
  top:27px;
  width:1237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u47 {
  position:absolute;
  left:2px;
  top:28px;
  width:156px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:566px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u49 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:467px;
  width:160px;
  height:50px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u51 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:516px;
  width:160px;
  height:50px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u53 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:319px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u55 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:106px;
  top:336px;
  width:15px;
  height:15px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u57 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:38px;
  top:336px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:0px;
  top:369px;
  width:160px;
  height:50px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u61 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:106px;
  top:584px;
  width:15px;
  height:15px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u63 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:38px;
  top:584px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:0px;
  top:616px;
  width:160px;
  height:50px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u67 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:665px;
  width:160px;
  height:50px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u69 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:0px;
  top:712px;
  width:160px;
  height:50px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u71 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:0px;
  top:70px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u73 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:115px;
  top:88px;
  width:15px;
  height:15px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u75 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:48px;
  top:84px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:0px;
  top:120px;
  width:160px;
  height:50px;
  color:#1E1E1E;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u79 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:219px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u81 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:115px;
  top:237px;
  width:15px;
  height:15px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u83 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:48px;
  top:233px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:0px;
  top:269px;
  width:160px;
  height:50px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u87 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:834px;
  top:12px;
  width:106px;
  height:46px;
  font-size:16px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:46px;
}
#u89 {
  position:absolute;
  left:0px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1010px;
  top:12px;
  width:186px;
  height:46px;
  font-size:16px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:46px;
}
#u91 {
  position:absolute;
  left:0px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1250px;
  top:19px;
  width:60px;
  height:32px;
  font-size:16px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u93 {
  position:absolute;
  left:0px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:170px;
  width:160px;
  height:50px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u95 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:418px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u97 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:45px;
  top:434px;
  width:80px;
  height:19px;
  font-size:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:318px;
  top:385px;
  width:572px;
  height:10px;
}
#u100_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_end {
  position:absolute;
  left:555px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_line {
  position:absolute;
  left:0px;
  top:5px;
  width:572px;
  height:1px;
}
#u101 {
  position:absolute;
  left:322px;
  top:408px;
  width:51px;
  height:24px;
  font-size:14px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:24px;
}
#u102 {
  position:absolute;
  left:0px;
  top:3px;
  width:51px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:495px;
  top:409px;
  width:95px;
  height:20px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
}
#u104 {
  position:absolute;
  left:0px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:654px;
  top:406px;
  width:42px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u106 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:655px;
  top:407px;
  width:40px;
  height:25px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#009DDA;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u108 {
  position:absolute;
  left:696px;
  top:406px;
  width:25px;
  height:27px;
  color:#009DDA;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u109 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:629px;
  top:406px;
  width:25px;
  height:27px;
  color:#009DDA;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u111 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:318px;
  top:444px;
  width:572px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:555px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:5px;
  width:572px;
  height:1px;
}
#u113 {
  position:absolute;
  left:323px;
  top:468px;
  width:51px;
  height:24px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:24px;
}
#u114 {
  position:absolute;
  left:0px;
  top:3px;
  width:51px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:496px;
  top:469px;
  width:95px;
  height:20px;
  color:#1E1E1E;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
}
#u116 {
  position:absolute;
  left:0px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:655px;
  top:466px;
  width:42px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u118 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:656px;
  top:467px;
  width:40px;
  height:25px;
}
#u119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#009DDA;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u120 {
  position:absolute;
  left:697px;
  top:466px;
  width:25px;
  height:27px;
  color:#009DDA;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u121 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:630px;
  top:466px;
  width:25px;
  height:27px;
  color:#009DDA;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u123 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:730px;
  top:359px;
  width:12px;
  height:16px;
  font-size:11px;
  color:#000000;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  visibility:hidden;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:1253px;
  top:1057px;
  width:160px;
  height:10px;
}
#u126_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u126_end {
  position:absolute;
  left:143px;
  top:-5px;
  width:18px;
  height:20px;
}
#u126_line {
  position:absolute;
  left:0px;
  top:4px;
  width:160px;
  height:2px;
}
#u127 {
  position:absolute;
  left:1413px;
  top:988px;
  width:340px;
  height:86px;
  font-size:24px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:86px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1403px;
  top:1109px;
  width:430px;
  height:271px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:271px;
}
#u130 {
  position:absolute;
  left:2px;
  top:128px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1443px;
  top:1170px;
  width:329px;
  height:60px;
  font-size:24px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:60px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1518px;
  top:1300px;
  width:200px;
  height:40px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u134 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:745px;
  top:346px;
  width:165px;
  height:39px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:39px;
}
#u136 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:752px;
  top:358px;
  width:148px;
  height:15px;
  color:#FF0000;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:15px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:294px;
  top:532px;
  width:75px;
  height:22px;
  font-size:18px;
  color:#3399FF;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:294px;
  top:550px;
  width:981px;
  height:10px;
}
#u141_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u141_end {
  position:absolute;
  left:964px;
  top:-5px;
  width:18px;
  height:20px;
}
#u141_line {
  position:absolute;
  left:0px;
  top:4px;
  width:981px;
  height:2px;
}
#u142 {
  position:absolute;
  left:318px;
  top:602px;
  width:90px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u143 {
  position:absolute;
  left:0px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:420px;
  top:590px;
  width:500px;
  height:40px;
  color:#C9C9C9;
  text-align:left;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:40px;
}
#u145 {
  position:absolute;
  left:2px;
  top:12px;
  width:496px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:328px;
  top:664px;
  width:90px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u147 {
  position:absolute;
  left:0px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:420px;
  top:652px;
  width:500px;
  height:40px;
  color:#C9C9C9;
  text-align:left;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:40px;
}
#u149 {
  position:absolute;
  left:2px;
  top:12px;
  width:496px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:294px;
  top:621px;
  width:30px;
  height:1px;
  font-size:30px;
  color:#FF0000;
  text-align:center;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:1px;
}
#u151 {
  position:absolute;
  left:0px;
  top:-17px;
  width:30px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:294px;
  top:683px;
  width:30px;
  height:1px;
  font-size:30px;
  color:#FF0000;
  text-align:center;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:1px;
}
#u153 {
  position:absolute;
  left:0px;
  top:-17px;
  width:30px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:951px;
  top:662px;
  width:150px;
  height:20px;
  color:#FF0000;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u155 {
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
