body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1200px;
  height:90px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:90px;
}
#u1 {
  position:absolute;
  left:2px;
  top:37px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:140px;
  height:70px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:136px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1090px;
  top:74px;
  width:56px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1165px;
  top:74px;
  width:27px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:10px;
  top:100px;
  width:160px;
  height:880px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:880px;
}
#u9 {
  position:absolute;
  left:2px;
  top:432px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:170px;
  top:100px;
  width:1040px;
  height:880px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:880px;
}
#u11 {
  position:absolute;
  left:2px;
  top:432px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:850px;
  top:100px;
  width:359px;
  height:70px;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:70px;
}
#u13 {
  position:absolute;
  left:2px;
  top:26px;
  width:355px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:504px;
  top:100px;
  width:373px;
  height:70px;
  font-size:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:70px;
}
#u15 {
  position:absolute;
  left:2px;
  top:26px;
  width:369px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:170px;
  top:100px;
  width:360px;
  height:70px;
  font-size:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
}
#u17 {
  position:absolute;
  left:2px;
  top:26px;
  width:356px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:226px;
  top:230px;
  width:920px;
  height:160px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:160px;
}
#u19 {
  position:absolute;
  left:2px;
  top:72px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:600px;
  top:244px;
  width:181px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:696px;
  top:360px;
  width:69px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:200px;
  top:412px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#3399FF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:200px;
  top:440px;
  width:981px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:964px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:4px;
  width:981px;
  height:2px;
}
#u27 {
  position:absolute;
  left:606px;
  top:360px;
  width:69px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:200px;
  top:510px;
  width:981px;
  height:40px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:212px;
  top:522px;
  width:157px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:430px;
  top:522px;
  width:201px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:698px;
  top:522px;
  width:79px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:200px;
  top:548px;
  width:981px;
  height:82px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:82px;
}
#u38 {
  position:absolute;
  left:2px;
  top:33px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:200px;
  top:470px;
  width:981px;
  height:42px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:42px;
}
#u40 {
  position:absolute;
  left:2px;
  top:13px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:224px;
  top:583px;
  width:17px;
  height:17px;
  font-size:15px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:290px;
  top:583px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:420px;
  top:567px;
  width:91px;
  height:17px;
  font-size:15px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:606px;
  top:567px;
  width:46px;
  height:17px;
  font-size:15px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:709px;
  top:567px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:800px;
  top:567px;
  width:17px;
  height:17px;
  font-size:15px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:880px;
  top:569px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:880px;
  top:589px;
  width:89px;
  height:17px;
  font-size:15px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:1021px;
  top:577px;
  width:46px;
  height:17px;
  font-size:15px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:224px;
  top:482px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:290px;
  top:482px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:420px;
  top:482px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:420px;
  top:598px;
  width:91px;
  height:17px;
  font-size:15px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:606px;
  top:598px;
  width:46px;
  height:17px;
  font-size:15px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:709px;
  top:598px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:800px;
  top:598px;
  width:17px;
  height:17px;
  font-size:15px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:420px;
  top:585px;
  width:397px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:380px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:397px;
  height:1px;
}
#u74 {
  position:absolute;
  left:606px;
  top:482px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:800px;
  top:482px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:880px;
  top:482px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:709px;
  top:482px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:1021px;
  top:482px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:10px;
  top:649px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u85 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:18px;
  top:664px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:10px;
  top:699px;
  width:160px;
  height:50px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u89 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:10px;
  top:749px;
  width:160px;
  height:50px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u91 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:10px;
  top:549px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u93 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:124px;
  top:567px;
  width:15px;
  height:15px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u95 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:27px;
  top:564px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:10px;
  top:599px;
  width:160px;
  height:50px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u99 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:10px;
  top:350px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u101 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:116px;
  top:367px;
  width:15px;
  height:15px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u103 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:48px;
  top:367px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:10px;
  top:400px;
  width:160px;
  height:50px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u107 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:10px;
  top:799px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u109 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:116px;
  top:816px;
  width:15px;
  height:15px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u111 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:48px;
  top:816px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:10px;
  top:849px;
  width:160px;
  height:50px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u115 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:10px;
  top:899px;
  width:160px;
  height:50px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u117 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:10px;
  top:949px;
  width:160px;
  height:50px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u119 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:10px;
  top:450px;
  width:160px;
  height:50px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u121 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:10px;
  top:499px;
  width:160px;
  height:50px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u123 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:10px;
  top:999px;
  width:160px;
  height:50px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u125 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:10px;
  top:100px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u127 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:125px;
  top:118px;
  width:15px;
  height:15px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u129 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:58px;
  top:114px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:10px;
  top:150px;
  width:160px;
  height:50px;
  color:#FFFFFF;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u133 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:10px;
  top:200px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u135 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:125px;
  top:218px;
  width:15px;
  height:15px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u137 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:58px;
  top:214px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:10px;
  top:250px;
  width:160px;
  height:50px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u141 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:10px;
  top:300px;
  width:160px;
  height:50px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u143 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:566px;
  top:279px;
  width:248px;
  height:16px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:651px;
  top:313px;
  width:79px;
  height:34px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:34px;
}
#u147 {
  position:absolute;
  left:2px;
  top:9px;
  width:75px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:1036px;
  top:65px;
  width:25px;
  height:25px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u149 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:1048px;
  top:59px;
  width:21px;
  height:21px;
  font-size:11px;
  color:#FFFFFF;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u151 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:1052px;
  top:63px;
  width:13px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
