body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:553px;
  top:230px;
  width:290px;
  height:50px;
  font-size:20px;
  color:#FF0000;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:50px;
}
#u1 {
  position:absolute;
  left:0px;
  top:13px;
  width:290px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:624px;
  top:340px;
  width:100px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:734px;
  top:340px;
  width:100px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:565px;
  top:275px;
  width:35px;
  height:35px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:610px;
  top:280px;
  width:440px;
  height:38px;
  color:#FF0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:38px;
}
#u9 {
  position:absolute;
  left:0px;
  top:3px;
  width:440px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:250px;
  top:400px;
  width:1062px;
  height:137px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:41px;
  top:0px;
  width:86px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:127px;
  top:0px;
  width:136px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:263px;
  top:0px;
  width:108px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:371px;
  top:0px;
  width:62px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:433px;
  top:0px;
  width:81px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:514px;
  top:0px;
  width:75px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:589px;
  top:0px;
  width:91px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:87px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:680px;
  top:0px;
  width:89px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:769px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:889px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:969px;
  top:0px;
  width:88px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:40px;
  width:41px;
  height:92px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:92px;
}
#u36 {
  position:absolute;
  left:2px;
  top:38px;
  width:37px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:41px;
  top:40px;
  width:86px;
  height:92px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:92px;
}
#u38 {
  position:absolute;
  left:2px;
  top:38px;
  width:82px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:127px;
  top:40px;
  width:136px;
  height:92px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:92px;
}
#u40 {
  position:absolute;
  left:2px;
  top:30px;
  width:132px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:263px;
  top:40px;
  width:108px;
  height:92px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:92px;
}
#u42 {
  position:absolute;
  left:2px;
  top:38px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:371px;
  top:40px;
  width:62px;
  height:92px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:92px;
}
#u44 {
  position:absolute;
  left:2px;
  top:38px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:433px;
  top:40px;
  width:81px;
  height:92px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:92px;
}
#u46 {
  position:absolute;
  left:2px;
  top:38px;
  width:77px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:514px;
  top:40px;
  width:75px;
  height:92px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:92px;
}
#u48 {
  position:absolute;
  left:2px;
  top:38px;
  width:71px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:589px;
  top:40px;
  width:91px;
  height:92px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:92px;
}
#u50 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:680px;
  top:40px;
  width:89px;
  height:92px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:92px;
}
#u52 {
  position:absolute;
  left:2px;
  top:38px;
  width:85px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:769px;
  top:40px;
  width:120px;
  height:92px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:92px;
}
#u54 {
  position:absolute;
  left:2px;
  top:38px;
  width:116px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:889px;
  top:40px;
  width:80px;
  height:92px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:92px;
}
#u56 {
  position:absolute;
  left:2px;
  top:38px;
  width:76px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:969px;
  top:40px;
  width:88px;
  height:92px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:92px;
}
#u58 {
  position:absolute;
  left:2px;
  top:38px;
  width:84px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:514px;
  top:480px;
  width:170px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:1px;
}
#u60 {
  position:absolute;
  left:563px;
  top:454px;
  width:49px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:655px;
  top:454px;
  width:23px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:563px;
  top:500px;
  width:49px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:655px;
  top:500px;
  width:23px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:581px;
  top:160px;
  width:249px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:232px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:4px;
  width:249px;
  height:2px;
}
#u69 {
  position:absolute;
  left:831px;
  top:160px;
  width:264px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:247px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:4px;
  width:264px;
  height:2px;
}
#u70 {
  position:absolute;
  left:340px;
  top:160px;
  width:240px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:4px;
  width:240px;
  height:2px;
}
#u71 {
  position:absolute;
  left:430px;
  top:149px;
  width:32px;
  height:32px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:439px;
  top:153px;
  width:12px;
  height:16px;
  font-size:20px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:685px;
  top:149px;
  width:32px;
  height:32px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:694px;
  top:153px;
  width:13px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:28px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:943px;
  top:149px;
  width:32px;
  height:32px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u80 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:953px;
  top:152px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:407px;
  top:191px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:932px;
  top:191px;
  width:77px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#66CCFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:683px;
  top:191px;
  width:56px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:159px;
  top:0px;
  width:1241px;
  height:70px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:70px;
}
#u91 {
  position:absolute;
  left:2px;
  top:27px;
  width:1237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
}
#u93 {
  position:absolute;
  left:2px;
  top:27px;
  width:156px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:566px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u95 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:467px;
  width:160px;
  height:50px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u97 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:0px;
  top:516px;
  width:160px;
  height:50px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u99 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:0px;
  top:319px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u101 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:106px;
  top:336px;
  width:15px;
  height:15px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u103 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:38px;
  top:336px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:0px;
  top:369px;
  width:160px;
  height:50px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u107 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:106px;
  top:584px;
  width:15px;
  height:15px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u109 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:38px;
  top:584px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:0px;
  top:616px;
  width:160px;
  height:50px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u113 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:0px;
  top:665px;
  width:160px;
  height:50px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u115 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:715px;
  width:160px;
  height:50px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u117 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:0px;
  top:813px;
  width:160px;
  height:50px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u119 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:0px;
  top:70px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u121 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:115px;
  top:88px;
  width:15px;
  height:15px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u123 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:48px;
  top:84px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:0px;
  top:120px;
  width:160px;
  height:50px;
  color:#1E1E1E;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u127 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:0px;
  top:219px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u129 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:115px;
  top:237px;
  width:15px;
  height:15px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u131 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:48px;
  top:233px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:0px;
  top:269px;
  width:160px;
  height:50px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u135 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:834px;
  top:12px;
  width:106px;
  height:46px;
  font-size:16px;
  text-align:center;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:46px;
}
#u137 {
  position:absolute;
  left:0px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:1010px;
  top:12px;
  width:186px;
  height:46px;
  font-size:16px;
  text-align:center;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:46px;
}
#u139 {
  position:absolute;
  left:0px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:1250px;
  top:19px;
  width:60px;
  height:32px;
  font-size:16px;
  text-align:center;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u141 {
  position:absolute;
  left:0px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:0px;
  top:170px;
  width:160px;
  height:50px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u143 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:0px;
  top:418px;
  width:160px;
  height:50px;
  font-size:16px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u145 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:45px;
  top:434px;
  width:80px;
  height:19px;
  font-size:16px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:0px;
  top:764px;
  width:160px;
  height:50px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u149 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
