body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1391px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:590px;
  top:60px;
  width:801px;
  height:440px;
  font-size:14px;
  line-height:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:440px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:100px;
  top:123px;
  width:375px;
  height:547px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:547px;
}
#u3 {
  position:absolute;
  left:2px;
  top:266px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:123px;
  width:375px;
  height:48px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:113px;
  top:132px;
  width:305px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:131px;
  top:140px;
  width:102px;
  height:13px;
  font-size:11px;
  color:#CCCCCC;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:13px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:115px;
  top:186px;
  width:65px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:100px;
  top:214px;
  width:380px;
  height:99px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:30px;
  width:125px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:125px;
  top:30px;
  width:125px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:250px;
  top:30px;
  width:125px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:60px;
  width:125px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
}
#u26 {
  position:absolute;
  left:2px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:125px;
  top:60px;
  width:125px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
}
#u28 {
  position:absolute;
  left:2px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:250px;
  top:60px;
  width:125px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
}
#u30 {
  position:absolute;
  left:2px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:396px;
  top:140px;
  width:14px;
  height:14px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u32 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:100px;
  top:44px;
  width:375px;
  height:80px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
}
#u34 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:107px;
  top:48px;
  width:362px;
  height:12px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:12px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-2px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:133px;
  top:84px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:107px;
  top:79px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:435px;
  top:81px;
  width:32px;
  height:32px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:264px;
  top:86px;
  width:65px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:116px;
  top:324px;
  width:65px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:100px;
  top:352px;
  width:375px;
  height:38px;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:38px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:100px;
  top:388px;
  width:375px;
  height:38px;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:38px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:100px;
  top:425px;
  width:375px;
  height:38px;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:38px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:100px;
  top:462px;
  width:375px;
  height:38px;
  text-align:left;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:38px;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:100px;
  top:499px;
  width:375px;
  height:38px;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:38px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:100px;
  top:536px;
  width:375px;
  height:38px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:38px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:428px;
  top:315px;
  width:32px;
  height:32px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:434px;
  top:140px;
  width:27px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:100px;
  top:790px;
  width:360px;
  height:590px;
  color:#663399;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:590px;
}
#u64 {
  position:absolute;
  left:2px;
  top:287px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:110px;
  top:800px;
  width:11px;
  height:19px;
  font-size:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:100px;
  top:892px;
  width:360px;
  height:117px;
  opacity:0.5;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:117px;
}
#u68 {
  position:absolute;
  left:2px;
  top:50px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:117px;
  top:902px;
  width:96px;
  height:96px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u70 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:100px;
  top:1014px;
  width:360px;
  height:117px;
  opacity:0.5;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:117px;
}
#u72 {
  position:absolute;
  left:2px;
  top:50px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:117px;
  top:1024px;
  width:96px;
  height:96px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u74 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:100px;
  top:1136px;
  width:360px;
  height:117px;
  opacity:0.5;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:117px;
}
#u76 {
  position:absolute;
  left:2px;
  top:50px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:117px;
  top:1146px;
  width:96px;
  height:96px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u78 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:300px;
  top:982px;
  width:40px;
  height:18px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u80 {
  position:absolute;
  left:2px;
  top:1px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:310px;
  top:1104px;
  width:40px;
  height:18px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u82 {
  position:absolute;
  left:2px;
  top:1px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:300px;
  top:1226px;
  width:40px;
  height:18px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u84 {
  position:absolute;
  left:2px;
  top:1px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:117px;
  top:1269px;
  width:96px;
  height:96px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u86 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:259px;
  top:798px;
  width:44px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:100px;
  top:828px;
  width:360px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u90 {
  position:absolute;
  left:110px;
  top:848px;
  width:339px;
  height:32px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:32px;
}
#u91 {
  position:absolute;
  left:2px;
  top:8px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:254px;
  top:857px;
  width:13px;
  height:13px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u93 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:278px;
  top:855px;
  width:39px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:223px;
  top:902px;
  width:226px;
  height:30px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:232px;
  top:976px;
  width:48px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:391px;
  top:978px;
  width:48px;
  height:19px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u101 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:223px;
  top:1024px;
  width:226px;
  height:30px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:232px;
  top:1098px;
  width:48px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:391px;
  top:1100px;
  width:48px;
  height:19px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u107 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:223px;
  top:1146px;
  width:226px;
  height:30px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:232px;
  top:1220px;
  width:48px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:391px;
  top:1222px;
  width:48px;
  height:19px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u113 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:223px;
  top:1269px;
  width:226px;
  height:30px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:232px;
  top:1343px;
  width:48px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:391px;
  top:1344px;
  width:48px;
  height:19px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u119 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:320px;
  top:804px;
  width:270px;
  height:10px;
}
#u120_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u120_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u120_line {
  position:absolute;
  left:0px;
  top:4px;
  width:270px;
  height:3px;
}
#u121 {
  position:absolute;
  left:600px;
  top:798px;
  width:39px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:328px;
  top:857px;
  width:270px;
  height:10px;
}
#u123_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_line {
  position:absolute;
  left:0px;
  top:4px;
  width:270px;
  height:3px;
}
#u124 {
  position:absolute;
  left:608px;
  top:851px;
  width:39px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:277px;
  top:978px;
  width:200px;
  height:10px;
}
#u126_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u126_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u126_line {
  position:absolute;
  left:0px;
  top:4px;
  width:200px;
  height:3px;
}
#u127 {
  position:absolute;
  left:487px;
  top:970px;
  width:65px;
  height:16px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:409px;
  top:920px;
  width:181px;
  height:10px;
}
#u129_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u129_end {
  position:absolute;
  left:164px;
  top:-5px;
  width:18px;
  height:20px;
}
#u129_line {
  position:absolute;
  left:0px;
  top:4px;
  width:181px;
  height:3px;
}
#u130 {
  position:absolute;
  left:598px;
  top:912px;
  width:73px;
  height:17px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:232px;
  top:742px;
  width:97px;
  height:29px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
